CLIP_MODEL_NAME=openai/clip-vit-base-patch32
DATASET_NAME=lmms-lab/RefCOCO
SAVE_DATA_PATH=data/.dataset/

# dataloader
BATCH_SIZE=32
NUM_WORKERS=2

# model
NUM_LOW_TOKENS=64
NUM_HIGH_TOKENS=8
D_MODEL=768
NHEAD=8
DIM_FEEDFORWARD=3072
NUM_LAYERS=12

# training
LOG_DIR=
SEED=42
LEARNING_RATE=3e-5
MAX_EPOCHS=3
PATIENCE=10