CLIP_MODEL_NAME="openai/clip-vit-base-patch32"
DATASET_NAME="lmms-lab/RefCOCO"
SAVE_DATA_PATH="data/.dataset/"

# dataloader
BATCH_SIZE=32
NUM_WORKERS=2

# model
NUM_LOW_TOKENS=64
NUM_HIGH_TOKENS=8
D_MODEL=512
NHEAD=8
DIM_FEEDFORWARD=2048
NUM_LAYERS=6

# training
LOG_DIR=
CHECKPOINT_DIR=".checkpoint/"
LOG_INTERVAL=50
VAL_INTERVAL=50
SEED=42
LEARNING_RATE=3e-5
MAX_EPOCHS=50
PATIENCE=10
DICE_SMOOTH=1e-6
IOU_EPSILON=1e-6
FREEEZE_CLIP=1